SQLAlchemy~=2.0.41
joblib~=1.5.0
pandas~=2.2.3
numpy~=2.2.5
scikit-learn~=1.6.1
nltk~=3.9.1
Unidecode~=1.4.0
geopy~=2.4.1
fastapi~=0.115.12
pydantic-settings~=2.9.1
python-dotenv~=1.1.0
pydantic~=2.11.4